<!--<p>editpost works!</p>-->


<h3 class="text-left">
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input name="titleInput" [(ngModel)]="title" class="form-control" id="title" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="contentTextArea" [(ngModel)]="content" class="form-control" cols="50" rows="10" id="content"></textarea>
        </div>
        <div class="form-group">
            <label for="headerimage">Header Image</label>
            <input name="headerImageInput" [(ngModel)]="headerImage" class="form-control" id="headerimage"/>
        </div>
        <div *ngIf="errMsg !== ''" class="alert alert-danger" role="alert">
            {{ errorMsg }}
        </div>
        <div class="col-sm">
            <button (click)="UpdatePost()" type="submit" class="btn btn-success">
                Edit Post
            </button>
        </div>
    </form>
</h3>